# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Tabulate few data science tools
* Evaluate few arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-Learn
4. Tensorflow
5. Matplotlib

| Data Science Tools |
| -------------------|
| JupyterLab |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python
* 4+2
* 5-6
* 9*0
* 48/16
* (7+(13*12)-34)/6

In [3]:
#This a simple arithmetic expression to mutiply then add integer
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Shaik Janubhai Mahammad Abubakar